*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  color: black;
  font-size: 1rem;
}
h1 {
  font-size: 4em;
}
h3 {
  font-size: 2em;
}
main {
  display: block;
  background-color: rgba(255, 255, 255, 0);
}

section:nth-child(odd) {
  /* background: linear-gradient(55deg, #7ead9d 0%, #1fc8db 51%, #2cb5e8 85%); */
  background-color: #7ead9d;
  border: solid #7ead9d 2px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, auto));
  grid-template-rows: 1fr;
  justify-items: center;
  margin: 4em;
  padding: 2em;
}
.sectionheader {
  text-align: center;
}
.links {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.links a {
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}
.links a:hover {
  background-color: #95d6b8;
  padding: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: rgb(255, 255, 255);
}
.article {
  text-align: center;
  height: auto;
  padding: 20px;
  border: solid rgba(255, 0, 0, 0) 4px;
}
.article:hover {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #ffffff;
  border-color: #d6d6d6d2;
}
.header {
  height: auto;
}
.banner img {
  width: 25em;
  height: auto;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.banner {
  display: grid;
  background-color: #d6d6d6d2;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 4em;
}
.navbar {
  display: grid;
  background: #7ead9d;
  grid-template-columns: repeat(auto-fit, minmax(10em, auto));
}
.footer {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto reapeat(3, 100px);
  border-top: solid #bebcbc 2px;
}
.footer ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.gridskills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 20px;
  text-align: center;
}
